html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    margin: 0;
       
}
html, body {
	/*height: 100%;*/
}
img {
    max-width: 100%;
    height: auto;
    
}
.container {
    max-width: 75em;
    padding: 0em 1.5em 0 1.5em;
    margin: 0 auto;
   
}
ul {
    padding: 0;
}
ul li {
    display: inline-block;
    list-style: none;
    font-weight: 700;
    
}
a {
    text-decoration: none;
}
.flex-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menubtn {
    display: none;
}
nav li{
    padding-left: 2.5em;
}
nav a {
    color: #c4cbcf;
    text-transform: uppercase;
    font-size: 0.9em;
}
nav li a:hover,
nav li a:focus {
    color: white;
}
nav {
    background: #121b21 ;
    padding-top: 0.55em;
    padding-bottom: 0.65em;
    
}
header {
    background: #00afc4 url(../img/backcover.png) center center ;
    margin-bottom: 0em;
    position: relative;
}
header h2 {
    margin-top: 0;
    padding-top: 3em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}
header h1 {
    color: white ;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    font-size: 7em;
    line-height: 0.85em;
    letter-spacing: -0.05em;
    word-spacing: 0.2em;
    position: relative;
    z-index: 2;
}
header img {
    max-width: 27em;
    margin: 0 auto;
    margin-top: -7em;
    display: block;
    position: relative;
    z-index: 3;
}
.triangle {
    background: transparent url(../img/triangle.png) top repeat-x;
    height: 0.8em;
    margin-top: -0.8em;
    position: relative;
    z-index: 4;
}
.arrow {
    position: relative;
    background: url(../img/arrow.png) center center no-repeat;
    color: black;
    text-transform: uppercase;
    z-index: 5;
    padding: 2em 3.5em 2em 3.5em;
    font-size: 0.8em; /*12.8px*/
    font-weight: 800;
    letter-spacing: 0.03em;
    left: 50%;
    margin-left: -7.8125em;

}
article {
    background: #edf3f3 url(../img/hash.gif) bottom repeat-x;
    text-align: center;
    padding-bottom: 3em;
    
}
article p {
    margin-top: 0;
    padding-top: 2.5em;
    font-size: 1.5em;
    font-weight: 300;
}
.line {
    display: block;
}
article h3 {
    margin-top: 2em;
    font-size: 0.9em;
    margin-bottom: 1.5em;
}
article ul li {
    padding-right: 1.5em;
}
main {
    text-align: center;
}
.flex-main {
    display: flex;
    justify-content: space-around;
    
}
section {
    max-width: 20em;
    padding: 0.9em;
    color: #535b60 ;
}
section h1 {
    color: #121b21;
    line-height: 1em;
}
section a {
    text-decoration: underline;
    color: #0388a6;
}
section a:hover,
section a:focus {
    color: #009ce0;
}
main h2 {
    background: url(../img/dot.gif) center repeat-x;
}
.whatwedo {
    background: black;
    color: white;
    text-transform: uppercase;
    font-size: 0.6em;
    padding: 0.5em;
}
aside {
    margin-top: 5em;
    padding-bottom: 3em;
    background: transparent url(../img/hash.gif) bottom repeat-x;
    text-align: center;
}
aside h1 {
    padding-top: 2.5em;
    font-size: 2.5em;
    text-transform: uppercase;
    display: inline-flex;
}

.dot {
    background: url(../img/dot.gif) top repeat-x;
}

.link {
    font-size: 1.2em;
    background: url(../img/bluearrow.png) center left no-repeat;
    padding: 1em 1em 1em 1em;
    color: white;
    vertical-align: 0.7em;
    margin-left: 1.5em;
    font-weight: 700;
    vertical-align: 0.4em;
}

footer {
    background: #edf3f3;
    text-align: center;
}
footer ul {
    margin-top: 0;
    padding-top: 2em;
    padding-bottom: 3em;
    
}
footer a {
    color: #535b60;
}
footer ul li {
    padding-left: 3em;

}
footer ul li:nth-child(3) {
    vertical-align: middle;
}
footer ul li:nth-child(1) {
    padding-left: 0;
}
footer p {
    padding-bottom: 2em;
    margin-bottom: 0;
    font-size: 0.7em;
}
.tildefoot {
    display: none;
}
/*mediaqueries*/
@media screen and (max-width:940px){
    .flex-main {
        display: inline-block;
        
    }
    section {
        max-width: 30em;
        padding-top: 3.5em;
    }
    aside h1 {
        display: block;
    }
    header h1 {
        font-size: 6em;
    }
    header img {
        margin-top: -6em;

    }
}

@media screen and (max-width:900px){
    article p {
        font-size: 1.25em;
    }
}
@media screen and (max-width:790px){
    header h1 {
        font-size: 5em;

    }
    article p {
        font-size: 1.2em;
    }
    header img {
        margin-top: -4.5em;

    }
}
@media screen and (max-width:735px) {
    .line {
        display: unset;
    }
    nav {
        padding-top: 0;
        margin-top: 0;
    }
    nav ul li {
        display: list-item;
        background: #283136;
        text-align: center;
        padding-top: 0.9em;
        padding-bottom: 0.9em;
        border-bottom: 0.5px solid #121b21;
    }
    nav ul {
        margin-top: 0;
    }
    .logo {
        display: flex;
        align-items: center; 
        justify-content: space-between;
        margin-left: 1em;       
        
    }
    .flex-nav {
        display: unset;
        

    }
    .menubtn {
        display: inline-block;
        background: #283136;
        padding: 1em 2em 1em 2em;
        color: white;
        font-size: 1em;
        font-weight: 700;
    }
    .tildefoot {
        display: inline-block;
        padding-top: 2em;
        
    }
    footer ul li{
        display: list-item;
        padding-left: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid #d9dddd;
        text-transform: uppercase;
    }
    footer ul li:nth-child(1){
        border-top: 1px solid #d9dddd;
    }
    footer ul li:nth-child(3){
        display: none;
    }
    footer ul {
        padding-top: 1em;
    }





}
@media screen and (max-width:735px) {
    header h1 {
        font-size: 4em;
    }
    header img {
        margin-top: -3.5em;

    }
}
@media screen and (max-width:600px) {
    aside h1 {
        font-size: 2em;

    }

}
    